

:root {
    --window_backgground_color: whitesmoke;
    --window_border_color: 	#0080ff;
    --window_border_width: 2px;
}


.window {

    background-color: var(--window_backgground_color);
    border: var(--window_border_width) solid var(--window_border_color);
    /* border-color: gray; */
}
.window_bar {

    background-color: var(--window_border_color);
    border: var(--window_border_width) solid var(--window_border_color);
    right: var(--window_border_width);
    bottom: var(--window_border_width);
    text-align: left;
}


.closeButton {

    background-color: #0080ff;
    color: white;
    border: 0;
}
.closeButton:hover {

    background-color: crimson;
}

.customButton {

    background-color: #0080ff;
    color: white;
    border: 0;
}
.customButton:hover {

    background-color: gray;
}